<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VillageFighters..xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>621EB8631D34A2DB00AC018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621EB8771D34A2DC00AC018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>621EB8821D34A2DC00AC018D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
