<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>userdefault-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>624718F91E4BFAA8000C3791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6247190D1E4BFAA8000C3791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>624719181E4BFAA8000C3791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
