<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>recipez-CoreData-tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>624172601E60AC0F00AA9E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>624172771E60AC0F00AA9E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>624172821E60AC0F00AA9E9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
