<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62D2A9011D83CEE800528D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62D2A9151D83CEE900528D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62D2A9201D83CEE900528D6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
